// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';



// Stile div navbar

*{
    font-size: 17px;
}

.container-nav{
    height: 50px;

    .header-nav{
      display: inline-block;

      li{
          display: inline-block;
          padding-top: 10px;
          padding-left:5px;

      }
    }
}

.jumbotron{
    width: 100vw;
    height: 90vh;
    background-image: url("https://www.doctors-365.de/home_slider_bg.95b2004ae0c9ce8f3a0b.jpg");
    background-size: cover;
    position: relative;

    .container-title-jumbotron{
        width: 100vw;
        position: absolute;
        font-family: 'Dela Gothic One', cursive;
        text-align: center;
        top: 40%;
    }
}
