// Variables
@import 'app';
@import '_animations';

* {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: #7ad6bc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #1DB487;
}
::-webkit-scrollbar-track{
    background: #e9f5f1;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}


// Stile div search-bar ---------------------------------------------------

.btn-register{
    margin-left: 10px;
}

    .logo-img{
        width: 300px;
    }

    .input-wrap {
        position: relative;
      }
      .input-wrap > input {
        padding: 5px 10px 5px 30px;
        height: 35px;
        width: 200px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #cdcdcd;
      }
      .input-wrap > i.fas {
        position: absolute;
        left: 8px;
        top: 5px;
        font-size: 21px;
        color: #b2b2b2;
        pointer-events: none;
      }

    .input-wrap > input:focus {
        padding: 5px 10px;
        width: 225px;
      }
      .input-wrap > input:focus + i.fas {
        display: none;
      }


//stile navbar e jumbotron ---------------------------------------------------

#app{
background-color: #F5F8FA;
}

.navbar-toggler{
    background-color: #F5F8FA;
}
.jumbotron-doc{
    width: calc(100vw - 13px);
    height: 90vh;
    font-weight: bold;
    background-image: url("https://www.doctors-365.de/home_slider_bg.95b2004ae0c9ce8f3a0b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    &-container-title{
        margin: 0 auto;
        font-weight: bold;
        color: rgb(105, 175, 236);
        text-shadow: 2px 2px #0c0c0c;
        text-align: center;
        animation: jumbotron-container-title 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    .select-department{
        width: 300px;
        margin-top: 40px;

    }
        .title{
            font-size:80px;
            display: block;
        }

        .subtitle{
            font-size:40px;
        }

        @media screen and (max-width: 768px) {
            .title{
                font-size:60px;
                display: block;
            }

            .subtitle{
                font-size:30px;
            }
            @media (max-width: 576px) {
                .title{
                    font-size:40px;
                    display: block;
                }

                .subtitle{
                    font-size:20px;
                }
             }
        }
    }
}
.jumbotron-overlay {
    overflow-x: hidden;
    width: inherit;
    height: inherit;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    background-size: cover;
    position: absolute;
}


// stile advanced search ---------------------------------------------------

.margin-top-container {
    margin-top: 50px;
}

.fa-star {
    color: $gold;
}

.strip-list {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
}

.doctor-pic-dashboard-container {

    width: 150px;
    // height: 150px;
    border-radius: 50%;
    border: 3px solid $green-logo;
    overflow: hidden;

    .doctor-pic {
        width: 100%;
        // align-self: flex-end;
    }
}
// carousel doctor

.carousel {
    overflow-x: visible;
}

.title-carousel{
    font-weight: bold;
    text-align: center;
    color: rgb(105, 175, 236);
    text-shadow: 2px 2px #0c0c0c;
    font-size:50px;
    margin-top: 100px;
    margin-bottom:100px;
}

.btn-floating-prev{
    position: absolute;
    top:200px;
    right:1200px;
}

.btn-floating-next{
    position: absolute;
    top:200px;
    left:1175px;
}
.img-container{
    margin-left: auto;
    margin-right: auto;

    .card-img-top{
        border-radius: 50%;
        border: 3px solid $green-logo;
        height: 300px;
    }
}
.card-body{
    text-align: center;
}

// Dashboard dottore ---------------------------------------------------

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding: 50px 25px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */

    .nav-link {
        padding-left: 0;
    }


}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 133px;
    /* Space for fixed navbar */
}

@media (min-width: 768px) {
    [role="main"] {
        padding-top: 48px;
        /* Space for fixed navbar */
    }
}

.nav-link:hover {
    font-weight: bold;
}

// show dottore ---------------------------------------------------


#secondary-nav {
    background-color: #2d3e4f;
    position: relative;
    bottom: -3px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 20px;

    ul {
        list-style: none;
        display: flex;
        color: $green-logo;
        margin: 0;
        padding: 0;

        li:first-of-type {
            margin-right: 20px;
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }

    .active-nav {
        color: white;
        font-weight: bold;
    }

}

.box-general,
.doctor-pic-show-container,
.doctor-pic-dashboard-container {

    box-shadow: 0 0 0 rgb(45 62 79 / 35%),
    -1px 2px 20px 6px rgb(0 0 0 / 22%);


    .profile {


        padding: 30px;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;

        .doctor-pic-show-container {

            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 3px solid $green-logo;
            overflow: hidden;

            .doctor-pic-show {
                width: 100%;
            }
        }

        .info {
            .department {
                color: $green-logo;
                font-weight: bold;
            }
        }

    }
}


.nav-link:hover {
    font-weight: bold;
}

// style edit profile

.cotainer-box1{
    width: 100vw;
}
