// Variables
@import 'app';
@import '_animations';

* {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb {
    background: #7ad6bc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: #1DB487;
}
::-webkit-scrollbar-track{
    background: #e9f5f1;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

::-moz-selection {
    background: #1DB487;
    color: white;
  }

  ::selection {
    background: #1DB487;
    color: white;
  }

  a {
    color: #1DB487;
  }

// Stile div search-bar ---------------------------------------------------
.doctor-smallpic-dashboard-container {
    width: 50px;
    aspect-ratio: 50 / 50;
    border-radius: 50%;
    border: 3px solid $green-logo;
    overflow: hidden;

    .doctor-smallpic-dashboard {
        width: 100%;
    }
}

.btn-register{
    margin-left: 10px;
}

    .logo-img{
        width: 300px;
    }

    .input-wrap {
        position: relative;
      }
      .input-wrap > input {
        padding: 5px 10px 5px 30px;
        height: 35px;
        width: 200px;
        font-size: 16px;
        border-radius: 3px;
        border: 1px solid #cdcdcd;
      }
      .input-wrap > i.fas {
        position: absolute;
        left: 8px;
        top: 5px;
        font-size: 21px;
        color: #b2b2b2;
        pointer-events: none;
      }

    .input-wrap > input:focus {
        padding: 5px 10px;
        width: 225px;
      }
      .input-wrap > input:focus + i.fas {
        display: none;
      }


//stile navbar e jumbotron ---------------------------------------------------

#app{
background-color: $body-bg;
}

.navbar-toggler{
    background-color: $body-bg;
}
.jumbotron-doc{
    width: calc(100vw - 13px);
    height: 90vh;
    font-weight: bold;
    background-image: url("https://www.doctors-365.de/home_slider_bg.95b2004ae0c9ce8f3a0b.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: fill;
    object-position: center;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    &-container-title{
        margin: 0 auto;
        font-weight: bold;
        color: $body-bg;
        text-shadow: 2px 2px #0c0c0c;
        text-align: center;
        animation: jumbotron-container-title 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

    .select-department{
        width: 300px;
        margin-top: 40px;

    }
        .title{
            font-size:80px;
            display: block;
        }

        .subtitle{
            font-size:40px;
        }

        @media screen and (max-width: 768px) {

            .title{
                font-size:60px;
                display: block;
            }

            .subtitle{
                font-size:30px;
            }
            @media (max-width: 576px) {

                .title{
                    font-size:40px;
                    display: block;
                }

                .subtitle{
                    font-size:20px;
                }

             }
        }
    }
    @media screen and (max-width:768px) {
        background-position: -710px;

    }
    @media screen and (max-width:576px) {
        background-position: -810px;

    }
}




.jumbotron-overlay {
    overflow-x: hidden;
    width: inherit;
    height: inherit;
    overflow: hidden;
    background: rgba(0, 0, 0, .5);
    background-size: cover;
    position: absolute;
}


// stile advanced search ---------------------------------------------------

.margin-top-container {
    margin-top: 50px;
}

.fa-star {
    color: $green;
}

.strip-list {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    margin-bottom: 25px;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
}

.filters-navbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .filters {
        display: none;
    }
    .filters-navbar {
        display: block;
    }
    .profile-filters {
        padding: 0 !important;
    }


}


// carousel doctor

.carousel {
    overflow-x: visible;
}
.color-chevron{
    color: #1BB386;
}
.title-carousel{
    font-weight: bold;
    text-align: center;
    color: #1BB386;
    text-shadow: 2px 2px #0c0c0c;
    font-size:50px;
    margin-top: 100px;
    margin-bottom:100px;
}

.btn-floating-prev{
    position: absolute;
    top:200px;
    right:1200px;
}

.btn-floating-next{
    position: absolute;
    top:200px;
    left:1170px;
}
.img-container{
    margin-left: auto;
    margin-right: auto;
}
.card-body{
    text-align: center;
}



// Dashboard dottore ---------------------------------------------------

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.doctor-pic-dashboard-container {
    width: 100%;
    aspect-ratio: 50 / 50;
    border-radius: 50%;
    border: 3px solid $green-logo;
    overflow: hidden;

    .doctor-pic-dashboard {
        width: 100%;

    }
}

.btn-navbar-toggler {
    background-color: $green-logo;

    span,
    i {
        color: white;
    }

}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding: 50px 25px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 25px;
    /* Scrollable contents if viewport is shorter than content. */

    .nav-link {
        padding-left: 0;
    }


}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link,
.navbar.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active,
.navbar-sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.nav-link:hover {
    font-weight: bold;
}

.chosen_sponsor {
    font-size: 1.2rem;

    small {
        color: black;
    }
}



// show dottore ---------------------------------------------------


.secondary-nav {
    background-color: #2d3e4f;
    position: relative;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 20px;

    ul {
        list-style: none;
        display: flex;
        color: $green-logo;
        margin: 0;
        padding: 0;

        li:first-of-type {
            margin-right: 20px;
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }

    .active-nav {
        color: white;
        font-weight: bold;
    }

}

.box-general,
.doctor-pic-show-container,
.doctor-pic-dashboard-container {

    box-shadow: 0 0 0 rgb(45 62 79 / 35%),
    0px 0px 15px 2px rgb(0 0 0 / 22%);
}

.profile {
    margin: 0 auto;

    padding: 30px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;

    .doctor-pic-show-container {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 3px solid $green-logo;
        overflow: hidden;

        .doctor-pic-show {
            width: 100%;
        }
    }

    .info {
        text-align: left;

        form {

            .votes-form  {
                width: auto;
                margin-right: 10px;
            }

            label {
                margin-top: 10px;
                padding: 0;
            }

            .votes-input {
                width: auto;
            }
        }
    }

    .btn-primary,
    .btn-secondary,
    .btn-success {
        border-radius: 50px;
        outline-width: 0;
        border: none;
        box-shadow: none;
    }

    .btn-success {
        background-color: $green-logo;
    }

    .btn-primary:hover,
    .btn-secondary:hover,
    .btn-success:hover {
        box-shadow: 0 0 0 rgb(45 62 79 / 35%),
        -1px 2px 10px 2px rgb(0 0 0 / 22%);
    }

    .curriculum{
        margin:0 auto;

        h2{
            text-align: center;
            margin-bottom: 20px;
        }
    }
}

.department {
    color: $green-logo;
    font-weight: bold;
}

.container-review{
    background-color: #6c757d9a;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 5px;

}

.nav-link:hover {
    font-weight: bold;
}

// style edit profile

.cotainer-box1{
    width: 100vw;
}

.height-input{
    height: 50px;
}

::-webkit-file-upload-button{
    display: inline-block;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: if($link-decoration == none, null, none);
  white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  color: #fff;
  background-color: #38c172;
  border-color: #38c172;
  border-radius: 4px;


  ::-webkit-file-upload-button:hover {
    color: #fff;
    background-color: #2fa360;
    border-color: #2d995b;
  }
}
// style checkout

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .style-radio input:checked ~ .checkmark:after {
    display: block;
  }

  .style-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }


  .style-radio:hover input ~ .checkmark {
    background-color: #1FB488;
  }

  .style-radio input:checked ~ .checkmark {
    background-color:#2FA360;
    color: #fff;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .style-radio input:checked ~ .checkmark:after {
    display: block;
  }

// style messaggio di errore

.doctor-clipart {
    text-align: right;
}

.text {

    .bottom-text {
        line-height: 5vw;
        font-size: 1vw;
    }

    span {
        font-size: 2rem;

        a {
            font-size: 1vw;
        }
    }
    // line-height: 4em;
}

.navbar-sidebar {
    display: none;
}

@media screen and (max-width: 768px) {

    .navbar-toggler-button {
        background-color: $green-logo;
        span {
            color: white;
        }
    }

    .navbar-sidebar {
        display: block;

        .links {

            a {
                color: black;
            }
        }
    }

    .profile {

        .centering {
            margin: 0 auto;
            text-align: center;
        }
    }

}
@media screen and (min-width: 768px) and (max-width: 992px ) {
    .container-fluid {

        .row {

            .sidebar {
                display: none !important;
            }
        }
    }

    .navbar-toggler-button {
        background-color: $green-logo;
        span {
            color: white;
        }
    }

    .navbar-sidebar {
        display: block;

        .links {

            a {
                color: black;
            }
        }
    }
}


// Stile 404
.page {
    display: flex;
    justify-content: center;

    .img {
        height: 50%;

        img {
            height: 100%;
        }
    }
}

// style checkout

.style-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.style-radio:hover input~.checkmark {
    background-color: #1FB488;
}

.style-radio input:checked~.checkmark {
    background-color: #2FA360;
    color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.style-radio input:checked~.checkmark:after {
    display: block;
}

.title-checkout {
    font-weight: bold;
    text-align: center;
    color: #1BB386;
    text-shadow: 2px 2px #0c0c0c;
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.container-button-pay{
    display: flex;
    width: 100%;

.button-pay{
    justify-content: center;
    margin: 0 auto;
}
}
// stile chart-js

.margin-top-chart {
    margin-top: 100px;
}

.doughnut {
    width: 100%;
    height: 100%;
}

.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}